body {
    background-color: #1E201E;
    color: #ECDFCC;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
}
.p-8{
    width:400px;
}
.bg-dark {
    background-color: #3C3D37;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.input-field {
    background-color: #2A2D2E;
    color: #ECDFCC;
    border: 1px solid #697565;
    border-radius: 4px;
}
.input-field:focus {
    border-color: #ECDFCC;
    outline: none;
}
.btn-primary {
    background-color: #697565;
    color: #ECDFCC;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-primary:hover {
    background-color: #2A2D2E;
}
.text-link {
    color: #697565;
    text-decoration: none;
}
.text-link:hover {
    color: #ECDFCC;
}